@keyframes scroll {
    0% {
		transform: translateY(0);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes AnimationName { 
    0%{background-position:87% 0%}
    50%{background-position:14% 100%}
    100%{background-position:87% 0%}
}