vendors = official
color-accent = #39c8b7
color-primary = #06207C
color-secondary = #FF0371
color-secondaryDarker = #be4c7f
color-greyBackground = #ebecef
color-blueBackground = rgba(6, 32, 124, 0.65)
color-blackOverlay = rgba(0, 0, 0, .5)