.navbar
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 70px
    background-color: transparent
    position: fixed
    top: 0
    z-index: 20
    left: 0
    right: 0
    background: transparent
.menu 
    display: flex
    margin: 0
    list-style-type: none
    li a
        font-weight: 800
        text-transform: uppercase
        font-size: 15px
        box-sizing: border-box
        border-radius: 5px
        mixin-border(1px, transparent)
        padding: 10px 10px
    li:hover a
        mixin-border()
    li:last-child a:hover
            mixin-btn-transition()
    

