.btn
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 2px;
    background-color: color-accent
    color: white;
    font-size: 14px;
    transition: .5s;
    border-radius: 30px
    padding: 20px 30px;
    box-shadow: -2px 1rem 2rem 17px rgba(8, 5, 4, 0.45)

    // &:hover
    //     mixin-btn-hover()